							<tr>
							<td align="center" valign="top" class="wel_text" > 
						   <h1><?php echo $heading ?></h1>
						   <?php echo $content ?>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" class="wel_text">  
						   <h1>Regenerate your password</h1>
						   <p>Please confirm your email id so that we can validate your email id. Once you click on confirm button then you will redirect to password reset page. On that page, you have to enter your new password. After entering your new password you can login with your new password.</p> 
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" >
								<a href="<?php echo $confirmationLink ?>" style="background-color:#0d873a; color:#fff; font-size:20px; font-weight:bold;  text-transform: uppercase; font-family:arial; padding-top:10px; padding-bottom:10px; padding-left:30px; padding-right:30px; text-decoration:none; display: inline-block;">Confirmation</a>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" style="color:#0d873a; font-size:18px; font-weight:bold;  font-family:arial; padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px; text-decoration:none;" > 
							Thanks for become a loyal member of our community.  
							</td>
						</tr>