<tr>
					<td align="center" valign="top" class="wel_text" > 
                   <h1><?php echo $heading ?></h1>
                   <?php echo $content ?>
                    </td>
                </tr>
                <tr>
					<td align="center" valign="top" class="wel_text">  
                   <h1>Confirm you email</h1>
                   <p>Please confirm your email id so that you can log in to the system. By clicking on confirmation button below you agree to our all our terms and conditions.</p> 
                    </td>
                </tr>
                <tr>
					<td align="center" valign="top" >
                        <a href="<?php echo $confirmationLink ?>" style="background-color:#0d873a; color:#fff; font-size:20px; font-weight:bold;  text-transform: uppercase; font-family:arial; padding-top:10px; padding-bottom:10px; padding-left:30px; padding-right:30px; text-decoration:none; display: inline-block;">Confirmation</a>
                    </td>
                </tr>
                <tr>
					<td align="center" valign="top" style="color:#0d873a; font-size:18px; font-weight:bold;  font-family:arial; padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px; text-decoration:none;" > 
					Thanks for become a loyal member of our community.  
                    </td>
                </tr>