<div class="col-md-12"> 
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<?php
$total=count($breadcrumb);
$i=1;
if (isset($breadcrumb) && !empty($breadcrumb)) {
    foreach ($breadcrumb as $url => $title) {
        if ($total==$i) {
            echo '<li class="breadcrumb-item active">'.$title.'</li>';
        }else{
            echo '<li class="breadcrumb-item"><a href="'.$url.'">'.$title.'</a></li>';
        }
        $i++;
    }
} ?>

</ol>
</div>
