<div class="home-footer dark-map" id="contact">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav  nav-tabs-alt nav-tabs-two nav-tab-inverse" role="tablist">
            <li role="presentation" class="active"><a href="#contact-info" aria-controls="contact-info" role="tab" data-toggle="tab">Contact info</a></li>
            <li role="presentation"><a href="#service-inquiry" aria-controls="service-inquiry" role="tab" data-toggle="tab">Service Inquiry</a></li>
            <li role="presentation"><a href="#on-map" aria-controls="on-map" role="tab" data-toggle="tab">View on Map</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Contact Info -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <div role="tabpanel" class="tab-pane active" id="contact-info">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="footer-header">
                            <h2>Contact info</h2>
                            <p class="large"><?php echo @$option['contact_info']; ?></p>
                        </div>
                    </div>
                </div><!--row-->
                <div class="row">
                    <div class="col-md-4">
                        <article class="contact-item">
                            <div class="dotted-line hidden-sm hidden-xs"></div>
                            <div class="striped-icon-xlarge">
                                <span aria-hidden="true" class="icon-location-pin"></span>
                            </div>
                            <h5>Address</h5>
                            <p><?php echo @$option['address']; ?></p>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="contact-item">
                            <div class="dotted-line hidden-sm hidden-xs"></div>
                            <div class="striped-icon-xlarge">
                                <span aria-hidden="true" class="icon-call-end"></span>
                            </div>
                            <h5>Phones</h5>
                            <p><?php echo @$option['telephone']; ?></p>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="contact-item">
                            <div class="striped-icon-xlarge">
                                <span aria-hidden="true" class="icon-envelope"></span>
                            </div>
                            <h5>E-mail</h5>
                            <p><?php echo @$option['contact_us_id']; ?></p>
                        </article>
                    </div>
                </div>
            </div><!--tabpanel-->
            <!-- Service Inquiry -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <div role="tabpanel" class="tab-pane" id="service-inquiry">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="footer-header">
                            <h2>Service Inquiry</h2>
                        </div>
                    </div>
                </div><!--row-->
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 contact-form">
                        <div id="response"></div>
                        <form  method="post" action="sendEmail.php" name="contact-form" id="contact-form">
                            <div><input type="text" placeholder="Subject" value="" name="subject"  id="subject" class="form-control"></div>
                            <div><input type="text" placeholder="Your name" value="" name="name" id="name" class="form-control"></div>
                            <div><input type="email" placeholder="Your email" value="" name="email" id="email" class="form-control"></div>
                            <div><textarea id="message" class="form-control" rows="3" name="message" placeholder="Your message"></textarea></div>
                            <div><input  class="contact_button button btn btn-primary btn-block" type="submit" name="submit" id="submit" value="Send Message" /></div>
                        </form>
                    </div>
                </div>
            </div><!--tabpanel-->
            <!-- Map -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <div role="tabpanel" class="tab-pane" id="on-map">
                <div id="mapCanvas"></div>
            </div><!--tabpanel-->
        </div><!--tab-content-->
        <!-- Copyright -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <?php if ($layout != 'contact_layout'): ?>
            <div class="copyright-alt">
                <ul class="copyright-links list-inline">
                    <li><a href="<?php echo @$option['facebook_link']; ?>"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li><a href="<?php echo @$option['twitter_link']; ?>"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li><a href="<?php echo @$option['youtube_link']; ?>"><i class="fa fa-youtube-play fa-lg"></i></a></li>
                    <li><a href="<?php echo @$option['google_plus_link']; ?>"><i class="fa fa-google-plus fa-lg"></i></a></li>
                    <li><a href="<?php echo @$option['linkedin_link']; ?>"><i class="fa fa-linkedin fa-lg"></i></a></li>
                </ul>
                <p><?php echo @$option['copyright_text']; ?></p>
            </div>
        <?php endif; ?>
    </div><!--container-->
</div>