/* main.css */
/* Container div for elFinder */
.elfinder,
.elfinder .elfinder-dialog,
.elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button-menu {
  background: #fff;
  border: 1px solid #69bcee;
  box-shadow: 0 0 5px #cdcdcd;
  border-radius: 0;
      box-shadow: 3px 11px 19px #cdcdcd;
}

/* Override styles in child elements of elFinder div */
/* Use for consistently setting text sizes and overriding general jQuery UI styles */
.elfinder * {
  color: #000;
  font-family: 'Open Sans', sans-serif;
   outline: none;
  }

/* Resizer */
/* Used if elFinder is resizable and on dialogs */
.elfinder .ui-icon-gripsmall-diagonal-se,
.elfinder-dialog .ui-icon-gripsmall-diagonal-se {
  /* */
}
.ui-button-text{
	border:1px solid #e5e5e5;
	   padding: 4px;
}
.ui-button-text:hover{
	    background: #cce8ff;
    border: 1px solid #99d1ff;
	color:#000
}
.elfinder-rm-title{
	padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.elfinder-quicklook{
	border: 0px solid #333333 !important;
    box-shadow: 7px 9px 30px #333333 !important;
	background: rgba(0, 0, 0,0.8) !important;
}
.ui-icon-circle-close{
	background: url(../images/16px/close.png) !Important;
}
.elfinder-quicklook-preview-archive-wrapper{
	    background: rgba(51, 51, 51,0.3) !important;
    color: #FFF !Important;
    padding-top: 9px !Important;
}
.elfinder-quicklook-preview-archive-wrapper strong{
    color: #FFF !Important;
}
.elfinder-quicklook-preview-archive-wrapper .elfinder-quicklook-preview-text{
	color: #FFF !Important;
}
.elfinder-quicklook-preview-archive-wrapper  hr{
    border: 0px solid #ccc;
       background: #777;
    height: 1px;
}
.elfinder .elfinder-dialog .elfinder-titlebar-full {
    background: url(../images/16px/maximize.png);
    margin-top: -13px;
    webkit-transition: background 0.3s;
    transition: background-image 0.3s;
    height: 29px;
    width: 45px;
	background-repeat: no-repeat;
	margin-right:8px;
	background-position: center;
}
.elfinder .elfinder-dialog .elfinder-titlebar-minimize {
    background: url(../images/16px/minus.png);
  margin-top: -13px;
    webkit-transition: background 0.3s;
    transition: background-image 0.3s;
    height: 29px;
    width: 45px;
	background-repeat: no-repeat;
	margin-right: 10px;
	background-position: center;
}
.elfinder .elfinder-dialog .elfinder-titlebar-full:hover {
   background-color:#efefef;
   border-radius:0px;
}
.elfinder .elfinder-dialog .elfinder-titlebar-minimize:hover {
   background-color:#efefef;
   border-radius:0px;
}
.ui-corner-all.elfinder-upload-dropbox.elfinder-tabstop.ui-state-hover{
	    border: 3px dashed #aaa;
		 outline: none;
}
.ui-corner-all.elfinder-upload-dropbox.elfinder-tabstop:focus{
		 outline: none;
}
.elfinder-button-icon-dir,.elfinder-button-icon-opendir{
	 background: url(../images/16px/open-folder.png);
	 background-repeat: no-repeat;
}
.elfinder-netmount-tb input, .elfinder-netmount-tb select{
	    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.elfinder-netmount-tb input, .elfinder-netmount-tb select:hover{
    border: 1px solid #ccc;
}
.elfinder-netmount-tb .ui-state-hover{
	border: 1px solid #ccc;
}
.elfinder-quicklook-info-data{
	color:#fff !important;
}


.ui-button:active, .ui-button.ui-state-active {
    border: 1px solid #efefef;
    background-color: #efefef;
    color: #212121;
}
.ui-button:focus, .ui-state-active:focus, .ui-visual-focus, .ui-state-focus:focus{
	outline:0px;
	box-shadow:none!important;
}
.elfinder-resize-control
{
	background-color:#efefef;
	border-radius:0px;
	margin-top: -5px;
    padding-left: 15px;
	box-shadow: 3px 11px 19px #cdcdcd;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #efefef;
    background-color: #efefef;
    color: #212121;
	background-image: none;
}
.elfinder-resize-preview{
	width:390px !important;
	border:1px solid #efefef;
}
.elfinder-resize-control{
	min-width: 210px;
}
span.ui-slider-handle.ui-corner-all.ui-state-default.elfinder-tabstop.ui-state-active {
    background-color: #ccc;
}
span.ui-slider-handle.ui-corner-all.ui-state-default.elfinder-tabstop {
	    border: 1px solid #efefef;
    background-color: #ccc;
}
.elfinder-dialog-resize input{text-align: center !important;}
button.ui-button{border: 1px solid #e5e5e5;
    border-radius: 0px;}
button.ui-button:hover{background-color:#ccc}
.elfinder-resize-type{box-shadow: 3px 11px 19px #cdcdcd;}
label.ui-button {
    border: 1px solid #efefef !important;
}
span.ui-icon-locked{
	border: 0px solid #d3d3d3 !important;
     background: url(../images/16px/lock.png) !important;
	 background-repeat: no-repeat !important;
}
span.ui-icon-unlocked{
	border: 0px solid #d3d3d3 !important;
     background: url(../images/16px/unlock.png) !important;
	 background-repeat: no-repeat !important;
}
span.ui-icon-arrowrefresh-1-n{
	border:0px solid #d3d3d3 !important;
     background: url(../images/16px/refresh.png) !important;
	 background-repeat: no-repeat !important;
}
.elfinder-resize-whctrls{
	border: 1px solid #e5e5e5;
}
button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.elfinder-tabstop {
    border: 0px;
    padding-bottom: 0px;
}
span.elfinder-button-icon-rotate-l{
	border:0px solid #d3d3d3 !important;
     background: url(../images/16px/rotate_left.png) !important;
	 background-repeat: no-repeat !important;
}
span.elfinder-button-icon-rotate-r{
	border:0px solid #d3d3d3 !important;
     background: url(../images/16px/rotate_right.png) !important;
	 background-repeat: no-repeat !important;
}
span.ui-icon-pin-s{
	border:0px solid #d3d3d3 !important;
     background: url(../images/16px/pin.png) !important;
	 background-repeat: no-repeat !important;
}
.ui-controlgroup-horizontal .ui-button:active, .ui-button.ui-state-active{
	border:0px;
}
.elfinder-resize-pallet{
	clear:left;
}