@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "font-awesome/css/font-awesome.min.css";
@import "simple-line-icons.css";

/* Basic css */

@import "bootstrap.css";
@import "jquery-ui.css";
@import "animate.css";

/* Additional css */

@import "owl.carousel.css";
@import "jquery.fancybox.css";
@import "owl.transitions.css";
@import "maincss.css";

/* custom css */

.post .post-heading a.post-image img {
    height: 250px;
    max-width: 100%;
    object-fit: cover;
}

.mat-name {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.mat-pic img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.matrimonial-box {
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 10px;
}

.matrimonial-box:hover {
    -webkit-box-shadow: 2px 2px 11px 0px rgba(103, 50, 53, 0.75);
    -moz-box-shadow: 2px 2px 11px 0px rgba(103, 50, 53, 0.75);
    box-shadow: 2px 2px 11px 0px rgba(103, 50, 53, 0.75);
}

.mini-details {
    padding: 0px 10px 10px 10px;
}

.kundali img {
    width: 100%;
}

.mat-details {
    margin-top: 30px;
}

ul.profile_item li.profile_item-img {
    width: 30%;
    float: left;
    margin-right: 5%;
}

ul.profile_item li.profile_item-img img {
    max-width: 120px;
}

.mat-basiic-detail h6 {
    line-height: 2.14285714;
}

.view_profile.similar-profile {
    margin-top: 30px;
}

body {
    margin-top: 40px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 99%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

textarea {
    resize: none;
}

.has-error .form-control {
    border-color: #F00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    background: #f0f1f5;
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border-color: #28ad62;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(40, 173, 98, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(40, 173, 98, 0.6);
}

.autocomplete-suggestion {
    position: relative;
    padding: 2px;
    padding-left: 10px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #FFF;
}

.display_none {
    display: none;
}

.no-margin-top {
    margin-top: 0px !important
}

.day_label {
    padding-right: 20px;
}

.images-block .col-md-3 a img {
    width: 100%;
    border: 1px solid #D1CFCF;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.images-block .col-md-3 a img:hover {
    box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.3);
}

.kundali-block .col-md-3 a img {
    width: 100%;
    border: 1px solid #D1CFCF;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.kundali-block .col-md-3 a img:hover {
    box-shadow: 1px 8px 20px rgba(0, 0, 0, 0.3);
}

.flexslider .slides img {
    width: 99%;
    display: block;
    border: 1px solid #D1CFCF;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #2b2e33;
    line-height: 0.2;
}

a.deleteFile {
    position: absolute;
    right: 8px;
    top: -8px;
    background: #000;
    color: #FFF;
    text-transform: lowercase;
    font-weight: bold;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0;
    line-height: 1;
    padding-left: 7px;
    padding-top: 2px;
    z-index: 10;
}

.removedPicture {
    position: absolute;
    font-size: 15vh;
    text-align: center;
    color: #f00;
}

ul.pagination {
    margin: 0px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 20px;
    font-size: 12px;
}

.breadcrumb {
    margin-top: -60px;
    background: transparent;
    padding-left: 0px;
}

.input-group-addon {
    padding: 9px 15px;
}
#myTab.nav > li > a {
    padding: 9px 50px;
}