<?php
if(!empty($widget_details) && isset($widget_details)){
    foreach($widget_details as $widget_detail){
		$widget= str_replace('<p><div','<div',$widget_detail['Widget']['value']);
		$widget= str_replace('</div></p>','</div>',$widget);
		echo $widget;
    }
}
?>