<?php
if(isset($widget_detail) && !empty($widget_detail)){
	if (isset($widget_detail['Widget']['name']) && $widget_detail['Widget']['name']!= ''){
	?>
	<h2 class="margin-h2"><?php echo $widget_detail['Widget']['name'];?></h2>
 <?php
	}
}
if(isset($widget_detail) && !empty($widget_detail)){
	$widget= str_replace('<p><div','<div',$widget_detail['Widget']['value']);
		$widget= str_replace('</div></p>','</div>',$widget);
		echo $widget;
}
?>