<?php

if (isset($allData)) {
    if ($view == 'core') {
        foreach ($allData as $Data) {
            print_r($Data[key($Data)]);
        }
    } elseif ($view == 'option') {
        $dropdownuser = array();
        foreach ($allData as $Data) {
            if (isset($Data[key($Data)]['bank_name'])) {
                $label = $Data[key($Data)]['bank_name'];
            } elseif (isset($Data[key($Data)]['username'])) {
                $label = $Data[key($Data)]['username'];
            }
            if (is_numeric($transection)) {
                $dropdownuser[] = '<option value="' . $Data[key($Data)]['id'] . '">' . $label . '</option>';
            } elseif ($transection == 'I' && $Data[key($Data)]['customer_type'] == 'I') {
                $dropdownuser[] = '<option value="' . $Data[key($Data)]['id'] . '">' . $label . '</option>';
            } elseif ($transection == 'T' && $Data[key($Data)]['customer_type'] == 'T') {
                $dropdownuser[] = '<option value="' . $Data[key($Data)]['id'] . '">' . $label . '</option>';
            }
        }
        if (!empty($dropdownuser)) {
            echo '<option value="0">Select all</option>';
            foreach ($dropdownuser as $dropdownuser) {
                echo $dropdownuser;
            }
        } else {
            echo '<option value="">No data found</option>';
        }
    } else {
        echo print_r($allData);
    }
} else {
    echo json_encode($msg);
}

?>